<mat-card>
    <mat-card-title>Owner List</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let owner of owners">
          <mat-checkbox class="example-margin" (change)="seleccionar(owner._links.owner.href.slice(-2))"></mat-checkbox>
          <img mat-list-avatar src="{{owner.giphyUrl}}" alt="{{owner.name}}">
          <h3 mat-line>
            <a mat-button [routerLink]="['/owner-edit', owner._links.owner.href.slice(-2)]">{{owner.name}}</a>

          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  
    <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
    <button mat-raised-button color="secondary" (click)="remove()"
    type="button">Delete All selected</button>
  </mat-card>